button,
input,
textarea {
    outline-style: none;

    &:focus {
        outline-style: none!important;
    }
}
/*
* Carré avec trois coins ronds et un coin carré
* Voir 'le module' dans la charte des fondamentaux
*/
.border-enedis {
    border-radius: 20px 0px 20px 20px;
}
