@import "main.less";
// Dimensions
@lea-height: 398px;
@lea-width: 158px;
@greg-height: 273px;
@greg-width: 160px;
@bulle-min-height: 100px;
@bulle-min-width: @bulle-min-height;
@bulle-offset: 50px;

.game {
    .bulle-container {
        position: relative;

        .bulle {
            color: @white;
            position: absolute;
            display:table;
            text-align: center;
            padding: 5px 5px 5px 5px;
            max-width: @bulle-min-width * 3;

            .content {
                position: relative;
            }

            &.lea {
                right: @lea-width + 5px;
                top: @bulle-min-width / 3;
                background-color: @red-lea;
            }

            &.greg {
                left: @greg-width + 5px;
                top: @lea-height - @greg-height;
                background-color: @green-greg;
            }
        }
    }

    .characters {
        position: relative;
        min-height: @lea-height + @bulle-min-height / 2;

        .character {
            z-index: 10;
            position: absolute;
            bottom: 0;

            &.lea {
                right: 0;
            }

            &.greg {
                left: 0;
            }
        }
    }
}

.gradient {
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, transparent 50%, @red 50%);
}
