@bulle-min-height: 75px;
@bulle-min-width: 2 * @bulle-min-height;
@bulle-offset: 50px;

.home {
  background-image: url("/img/maison-jardin.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(~"100vh -" @navbar-height);
  // height: 100vh;
  position: relative;

  .speech-bubble {
    .bulle {
      color: @white;
      position: absolute;
      text-align: center;
      max-width: 200px;
      max-height: 250px;

      &-content {
        position: relative;
        padding: 10% 30% 10% 10%;
        width: 100%;
        min-width: @bulle-min-width;
        min-height: @bulle-min-height;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &.lea {
        left: 80%;
        right: 12%;
        top: 45%;
        bottom: 10%;
      }

      &.greg {
        left: 15%;
        right: 10%;
        top: 50%;
        bottom: 10px;
      }
    }
  }

  .lea-position {
    position: absolute;
    left: 73%;
    right: 8%;
    top: 26%;
    bottom: 5%;
  }
  .greg-position {
    position: absolute;
    left: 7%;
    right: 5%;
    top: 37%;
    bottom: 5%;
  }


  .play-bouton {
    position: absolute;
    bottom: 80px;
  }

  .play {
    background-color: @blue-enedis;
    color: white;
  }
}
