.home{
  padding-top: 220px;
  background-image: url(/img/maison-jardin.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.greg-position{
  position: absolute;
  bottom: 0;
}
