// Thème
@blue-enedis: #0072BC;
@red-lea: #ed1157;
@green-greg: #00b5ae;
@white: white; // TODO à changer ?
@green-enedis: #91C84C;
// Dimensions Utiles
@lea-height: 398px;
@lea-width: 158px;
@greg-height: 273px;
@greg-width: 160px;

// Games
@import "games/bouche-trou.less";
@import "games/attentionTrou.less";
@import "games/charabia.less";
@import "games/vrai-ou-faux.less";
@import "games/miroir.less";
@import "games/miniQuiz.less";
@import "games/tomber.less";
@import "games/coupable.less";
@import "games/panneau.less";
@import "games/une-sur-trois.less";
@import "games/attitude.less";
@import "games/filGreg.less";
@import "games/zoom.less";
@import "games/fil-greg.less";


// Directives
@import "directives/speech-bubble.less";
@import "directives/indice.less";
@import "directives/window.less";
@import "directives/consignes.less";
@import "directives/conseils.less";
@import "directives/characters.less";

// Other
@import "game.less";
@import "borders.less";
@import "utilitaires.less";
@import "selection.less";
// fixe : navbar, footer etc..
@import "home.less";
@import "navbar.less";
@import "content.less";
