// Thème
@red-lea: #ed1157;
@green-greg: #00b5ae;
@white: white; // TODO à changer ?

// Dimensions Utiles
@lea-height: 398px;
@lea-width: 158px;
@greg-height: 273px;
@greg-width: 160px;

// Games
@import "games/bouche-trou.less";
@import "games/attentionTrou.less";
@import "games/charabia.less";
@import "games/vrai-ou-faux.less";
@import "games/miroir.less";
@import "games/miniQuiz.less";
@import "games/coupable.less";
@import "games/panneau.less";

// Directives
@import "directives/speech-bubble.less";
@import "directives/clue.less";
@import "directives/modal.less";

// Other
@import "game.less";
@import "borders.less";
@import "utilitaires.less";
@import "navbar.less";
