<div class="game theme-{{ props.theme }}" ng-class="{'hidden-behind-modal': descriptionShown || charactersShown}">
    <h2 class="titre-jeu ubuntu-li text-center">{{props.nomDuJeu}}</h2>

    <div class="game-container">
        <div class="game-view" ui-view="game" ng-show="gameLoadedOnce"></div>
        <div class="window-container" ng-show="show !== WINDOWS.game">
            <div window on-close="toggle(WINDOWS.game)" ng-show="show === WINDOWS.consignes">
                <div consignes texte="props.consignes"></div>
            </div>
            <div window on-close="toggle(WINDOWS.game)" ng-show="show === WINDOWS.indice">
                <div indice texte="props.indice"></div>
            </div>
            <div window on-close="toggle(WINDOWS.game)" ng-show="show === WINDOWS.conseils">
                <div conseils texte="props.conseils"></div>
            </div>
            <div window on-close="toggle(WINDOWS.game)" ng-show="show === WINDOWS.characters">
                <div characters lea="lea" greg="greg" bulle="bulle"></div>
            </div>
        </div>
    </div>

    <div class="button-container container">
        <div class="col-xs-11 fonction">
            <div ng-show="props.consignes.length > 0" class="col-xs-1 text-center"><a href=""><img class="btn-consignes" ng-click="toggle(WINDOWS.consignes);audio.play(props.audio.consignes)" src="img/agent.svg"></a>consignes</div>
            <div ng-show="props.conseils.length > 0" class="col-xs-offset-1 col-xs-1 text-center"><a href=""><img  class="btn-conseils" ng-click="toggle(WINDOWS.conseils);audio.play(props.audio.conseils)" src="img/ampoule.svg"></a>conseils</div>
            <div ng-show="props.indice.length > 0" class=" col-xs-offset-1 col-xs-1 text-center"><a href=""><div><img class="btn-indice"  ng-click="toggle(WINDOWS.indice);audio.play(props.audio.indices)" src="img/loupe.svg" style="transform:rotate(45deg)" ></div></a>indices</div>
        </div>

        <div class="col-xs-1"><button ng-click="back()">Retour</button></div>
    </div>
</div>
