<div class="game container theme-{{ theme }}" ng-class="{'hidden-behind-modal': descriptionShown || charactersShown}">
    <h2 class="titre-jeu ubuntu-li text-center">{{nomDuJeu}}</h2>

    <div class="game-container">
        <div class="game-view" ui-view="game" ng-show="gameLoadedOnce"></div>
        <div class="window-container" ng-show="show !== WINDOWS.game">
            <div window on-close="toggle(WINDOWS.game)" ng-show="show === WINDOWS.consignes"> CONSIGNES </div>
            <div window on-close="toggle(WINDOWS.game)" ng-show="show === WINDOWS.indice"> INDICES </div>
            <div window on-close="toggle(WINDOWS.game)" ng-show="show === WINDOWS.conseils"> CONSEILS </div>
            <div window on-close="toggle(WINDOWS.game)" ng-show="show === WINDOWS.characters"> CHARACTERS </div>
        </div>
    </div>

    <div class="button-container row">
        <div class="col-xs-1"><button ng-click="toggle(WINDOWS.consignes)" >Consignes</button></div>
        <div class="col-xs-1"><button ng-click="toggle(WINDOWS.conseils)" >Conseils</button></div>
        <div class="col-xs-1"><button ng-click="toggle(WINDOWS.indice)" >Indice</button></div>
        <div class="col-xs-1 col-xs-offset-7"><button ng-click="back()">Retour</button></div>
    </div>
</div>
