<h1>Hello World</h1>
<ul>
  <li><a ui-sref="anon.games.charabia">Charabia</a></li>
  <li><a ui-sref="anon.games.boucheTrou">Bouche trou</a></li>
  <li><a ui-sref="anon.games.attentionTrou">Attention au trou</a></li>
  <li><a ui-sref="anon.games.vraiOuFaux">Vrai ou Faux</a></li>
  <li><a ui-sref="anon.games.miroir">La Tête a l'envers</a></li>
  <li><a ui-sref="anon.games.miniQuiz">Mini Quiz</a></li>
  <li><a ui-sref="anon.games.coupable">Qui est le Coupable</a></li>
  <li><a ui-sref="anon.games.panneau">Le bon Panneau</a></li>
  <li><a ui-sref="anon.games.tomber">Ne tombe pas dans le panneau!</a></li>
  <li><a ui-sref="anon.games.uneSurTrois">Une chance sur trois</a></li>

</ul>
