  <div class="container-fluid home">
        <div class=" greg-position animated fadeInLeftBig" style="border:1px solid yellow">
      <img class="flip-horizontal " src="/img/greg.png">
      <speech-bubble character="'greg'" flip="true">{{"Salut, moi c'est Greg! Viens avec moi , on va bien s'amuser!"}}</speech-bubble>
    </div>
    <div class="lea-position animated fadeInRightBig" style="border:1px solid yellow">
      <img src="/img/lea.png ">
      <speech-bubble character="'lea'" flip="false">{{"Salut, moi c'est Léa! La grande soeur de Greg. Grâce à cette plateforme de jeux , tu vas apprendre les bons gestes pour éviter les risques électriques à la maison, dehors et mêmes dans tes loisirs"}}</speech-bubble>
    </div>
  </div>
