
<div class="container-fluid home">
  <img class="flip-horizontal greg-position img-responsive" src="/img/greg.png">
  <img class="lea-position img-responsive" src="/img/lea.png ">
    <speech-bubble class="greg-bulle img-responsive" character="'greg'" flip="true">{{"Salut, moi c'est Greg! Viens avec moi , on va bien s'amuser!"}}</speech-bubble>
    <speech-bubble class="lea-bulle img-responsive" character="'lea'" flip="false">{{"Salut, moi c'est Léa! La grande soeur de Greg. Tu vas apprendre les bons gestes pour éviter les risques électriques à la maison, dehors et mêmes dans tes loisirs"}}</speech-bubble>
  <div class="row text-center">
    <div class="col-xs-12 play-bouton">
    <a  sref="anon.selection"><button class="play" type="btn-primary" name="button">JOUER</button></a>
    </div>

  </div>
</div>
