<div class="selection-fond">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12 ubuntu selection-titre ">
        <h1>Sélectionne ton jeu</h1>
      </div>
    </div>
  </div>


  <!-- Section Maison -->
  <div class="container text-center selection-lien ubuntu-bold">
    <div class="row selection-margin-bot3 text-center">
      <div class="col-xs-12">
        <h2>La Maison<img class="picto-maison" src="img/house.svg" alt=""></h2>
      </div>
    </div>
    <!-- img -->
    <div class="row">
      <div class="col-xs-6">
        <a ui-sref="anon.games.attention"><img class="img-responsive hvr-grow select-img-border" src="/img/games/attentiontrou/jeuperceuse.svg"  alt="image provisoire"></a>
      </div>
      <div class="col-xs-6">
        <a ui-sref="anon.games.coupable"><img class="img-responsive hvr-grow select-img-border" src="img/detective.svg" width="180" height="100" alt="image provisoire"></a>
      </div>
    </div>
    <!-- text -->
    <div class="row selection-margin-text">
      <div class="col-xs-6">
        <a ui-sref="anon.games.attitude">Attention au trou !</a>
      </div>
      <div class="col-xs-6">
        <a ui-sref="anon.games.zoom">Qui est le Coupable !?</a>
      </div>
    </div>
    <!-- img -->
    <div class="row selection-margin-bot1">
      <div class="col-xs-12">
        <a ui-sref="anon.games.filGreg"><img class="img-responsive hvr-grow select-img-border" src="img/labyrinthe.svg"  alt="image provisoire"></a>
      </div>
      <!-- text -->
      <div class="col-xs-12 selection-margin-text">
        <a ui-sref="anon.games.filGreg">Le Fil de Greg</a>
      </div>
    </div>
    <!-- img -->
    <div class="row selection-margin-bot">
      <div class="col-xs-6">
        <a ui-sref="anon.games.attitude"><img class="img-responsive hvr-grow select-img-border" src="img/games/rallonges.svg"  alt="image provisoire"></a>
      </div>
      <div class="col-xs-6">
        <a ui-sref="anon.games.zoom"><img class="img-responsive hvr-grow select-img-border" src="img/games/zoom/loupezoom1.svg"  alt="image provisoire"></a>
      </div>
    </div>
    <div class="row selection-margin-text">
      <div class="col-xs-6">
        <a ui-sref="anon.games.attitude">La Bonne Attitude</a>
      </div>
      <div class="col-xs-6">
        <a ui-sref="anon.games.zoom">Zoom Sur ...</a>
      </div>
    </div>
  </div>




  <!-- En Exterieur-->
  <div class="container text-center selection-lien ubuntu-bold">
    <div class="row selection-margin-bot3 selection-section-lieu">
      <div class="col-xs-12">
        <h2>À L'extérieur<img class="picto-park" src="img/park.svg" alt=""></h2>
      </div>
    </div>
    <!-- img -->
    <div class="row">
      <div class="col-xs-6 col-lg-6">
        <a ui-sref="anon.games.uneSurTrois"><img class="img-responsive hvr-grow select-img-border" src="img/rallonge.svg"  alt="image provisoire"></a>
      </div>
      <div class="col-xs-6 col-lg-6">
        <a ui-sref="anon.games.tomber"><img class="img-responsive hvr-grow select-img-border" id="tomber" src="img/games/tomber/pecheurs.svg"  alt="image provisoire"></a>
      </div>
    </div>
    <!-- text -->
    <div class="row selection-margin-bot3 selection-margin-text">
      <div class="col-xs-6 col-lg-6">
        <a ui-sref="anon.games.uneSurTrois">Une chance Sur Trois !</a>
      </div>
      <div class="col-xs-6 col-lg-6">
        <a ui-sref="anon.games.tomber">Ne tombe pas dans le panneau</a>
      </div>
    </div>

    <!-- img -->
    <div class="row">
      <div class="col-xs-6">
        <a ui-sref="anon.games.panneau"><img class="img-responsive hvr-grow select-img-border" src="img/games/dangers.svg"  alt="image provisoire"></a>
      </div>
      <div class="col-xs-6">
        <a ui-sref="anon.games.miniQuiz"><img class="img-responsive hvr-grow select-img-border" src="img/tondeuse.svg"  alt="image provisoire"></a>
      </div>
    </div>
    <!-- text -->
    <div class="row selection-margin-bot3 selection-margin-text">
      <div class="col-xs-6">
        <a ui-sref="anon.games.panneau">Le bon panneau</a>
      </div>
      <div class="col-xs-6">
        <a ui-sref="anon.games.miniQuiz">Mini Quizz !!</a>
      </div>
    </div>
  </div>




  <!-- Section Autre -->
  <div class="container text-center selection-lien ubuntu-bold">
    <div class="row selection-margin-bot3 selection-section-lieu">
      <div class="col-xs-12">
        <h2>Autre Jeux<img class="picto-foudre" src="img/foudre.svg" alt=""></h2>
      </div>
    </div>
    <!-- img -->
    <div class="row">
      <div class="col-xs-6">
        <a ui-sref="anon.games.charabia"><img class="img-responsive hvr-grow select-img-border" src="" alt="image provisoire"></a>
      </div>
      <div class="col-xs-6">
        <a ui-sref="anon.games.boucheTrou"><img class="img-responsive hvr-grow select-img-border" src="" alt="image provisoire"></a>
      </div>
    </div>
    <!-- text -->
    <div class="row selection-margin-bot3 selection-margin-text">
      <div class="col-xs-6">
        <a ui-sref="anon.games.charabia">C'est quoi ce Charabia ?!</a>
      </div>
      <div class="col-xs-6">
        <a ui-sref="anon.games.boucheTrou">Le Bouche Trou !</a>
      </div>
    </div>

    <!-- img -->
    <div class="row">
      <div class="col-xs-6">
        <a ui-sref="anon.games.miroir"><img class="img-responsive hvr-grow select-img-border" src="" alt="image provisoire"></a>
      </div>
      <div class="col-xs-6">
        <a ui-sref="anon.games.vraiOuFaux"><img class="img-responsive hvr-grow select-img-border" src="" alt="image provisoire"></a>
      </div>
    </div>
    <!-- text -->
    <div class="row selection-margin-bot3 selection-margin-text">
      <div class="col-xs-6">
        <a ui-sref="anon.games.miroir">La Tête a l'envers !!</a>
      </div>
      <div class="col-xs-6">
        <a ui-sref="anon.games.vraiOuFaux">Vrai ou Faux ? </a>
      </div>
    </div>
  </div>
</div>
