<div>
    <div class="row risk text-center">
        <div class="col-xs-12 alert">
            <button class="attention-button" ng-audio="sound/games/attention/P9J13.mp3">conseil<span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
            <h2 class="ubuntu-bold">ATTENTION AU TROU !</h2>
            <p>Léa et son papa veulent poser des étagères... ils doivent donc faire attention à l'endroit où ils percent le mur...<br/> Aide-les à trouver le bon en cliquant dessus!</p>
            <button class="attention-button" ng-audio="sound/games/attention/attention.mp3">consigne<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <img rwdimgmap id="perceuse" src="/img/games/attentiontrou/jeuperceuse.svg" width="575" height="523" usemap="#holeclick" alt="">
            <map id="holeclick" name="holeclick">
                <area shape="circle" coords="215,135,43" ng-click="badRep()"  alt="">
                <area shape="circle" coords="395,149,44" ng-click="goodRep()"  alt="">
                <area shape="circle" coords="239,260,42" ng-click="badRep2()"  alt="">
                <area shape="circle" coords="205,376,42" ng-click="badRep3()"  alt="">
            </map>
        </div>

        <div class="col-xs-12 text-center">
            <button class="attention-button" ng-audio="sound/games/attention/indice.mp3">indice<span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
        </div>
    </div>
</div>
