<div class="container ">
    <div class="row">
        <div class="col-xs-8">
            <p>Attention, avant de percer un mur, il faut vérifier qu' aucun fil électrique n' est caché derrière...</br>
                Car, si la perceuse en touche un, ça peut être dangereux!
            </p>
        </div>
    </div>
    <div class="row">
        <h2>ATTENTION AU TROU !</h2>
        <div class="col-xs-5">
            <p>Léa et son papa veulent poser des étagères... ils doivent donc faire attention à l' endroit où ils percent le mur... Aide-les à trouver le bon en cliquant dessus!</p>
        </div>
    </div>
    <div ui-view class="panneau-svg">

    </div>
</div>
