<!-- TODO make better animation when dropping words -->
<div class="bouche-trou">
        <ul class="words">
                <li ng-repeat="word in text.words track by $index"><span class="word" data-drag="true" jqyoui-draggable="{index: {{$index}}, animate:false}" data-jqyoui-options="{revert: 'invalid', placeholder: true, opacity: 0.5}"
                                ng-model="text.words">{{ word }}</span></li>
        </ul>

        <div class="fill-in-the-blank text-center">
                <div ng-repeat="part in text.sentence track by $index" class="part">
                        <span ng-show="part === '_'" class="hole" data-drop="true" jqyoui-droppable="{index: $index, onDrop: 'onDrop'}" ng-model="text.holes">
                                <span class="word" ng-if="text.holes[$index] !== undefined" data-drag="true" jqyoui-draggable="{index: $index, animate:false}" data-jqyoui-options="{revert: 'invalid', direction: 'top'}" ng-model="text.holes">{{text.holes[$index]}}</span>
                        </span>
                        <span ng-hide="part === '_'" class="text">{{ part }}</span>
                </div>
        </div>
</div>