<div class="container-fluid">
    <div class="row text-center">
        <div class=" col-xs-12 col-sm-12 col-md-12">
          <h1><strong>C'EST QUOI CE CHARABIA ?</strong></h1>
          <button class="charab-button"ng-audio="sound/games/charabia/charabia.mp3">consigne<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
</button>

          <p>Pour déchiffrer ce message codé qui t'explique comment débrancher un appareil électrique sans danger, supprime toutes les lettres Z.</p>

          <h2><strong class="charabia-clem">Message codé :</strong></h2>
          <p>C'ESZZT TRZÈZS DAZNGEZREZUZX DEZ TIZRER SZURZ LZE FZIL D'UZN AZPPAZREIL ÉZLECTZRIZQUE PZOUZR LZE DÉZBRZANZCZHER! IL FZAZUT TOZUJZZOURZS LEZ PRENZDZRE PZAR LAZ FIZCHZE PZOUZR LZE DÉCOZNNZECTERZ.</p>
          <h2>Réponse:</h2>
          <form ng-submit="compare()" method="post">
            <textarea class="charabia-textarea" name="name" rows="3" ng-model="newText" cols="60"></textarea>
            <div class=" col-xs-12 col-sm-12 col-md-12 ">
            <button class="charabia-button" type="submit">valide ta réponse</button>
          </form>
        </div>
        </div>

    </div>

</div>
