<div class="center-vertically coupable-marge">
    <div class="coupable-marge animated fadeIn ">
        <img class="prise" src="img/games/coupable/prise+plainte.svg" alt="">
    </div>

    <div class="second-rang">
        <div class=" animated fadeInLeftBig poison third" ng-click="fauxPoison()">
            <img class="animal hvr-grow" src="img/games/coupable/fish.svg " alt="un poison">
        </div>
        <div class=" animated fadeInDownBig third" ng-click="fauxOiseau()">
            <img class="animal hvr-grow" src="img/games/coupable/bird.svg" alt="un oiseau">
        </div>
        <div class="animated fadeInRightBig third" ng-click="vrai()">
            <img class="animal hvr-grow" src="img/games/coupable/lapin.svg" alt="un lapin">
        </div>
    </div>

</div>
