  <div class="row">
    <div class="col-xs-12 text-center miniquiz-question">
      <p>En cas de neige, de vents violents ou d'autres intempéries, il se peut qu'un ligne électrique tombe au sol. D'après toi, que faut-il faire dans ce cas-là ?</p>
    </div>
  </div>
<div class="container miniquiz-proposition text-center">
    <div class="row miniquiz-ligne-reponse-rouge">
        <div class="col-xs-12 animated fadeInLeft">
            <p class="miniquiz-solution"><span class="miniquiz-reponse-rouge">Réponse 1</span> : Ne pas toucher la ligne et prévenir un adulte pour qu'il téléphone à Enedis.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 animated fadeInRight">
            <p class="miniquiz-solution"><span class="miniquiz-reponse-vert">Réponse 2</span> : Pousser la ligne avec un bâton pour éviter que quelqu'un se prenne les pieds dedans.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 animated fadeInLeft">
            <p class="miniquiz-solution"><span class="miniquiz-reponse-blue">Réponse 3</span> : La laisser où elle est... C'est sûr, quelqu'un viendra un jour la réparer.</p>
        </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-xs-4 animated fadeInLeft">
            <button ng-click="vrai()" class="quizz-btn-anim1 miniquiz-bouton miniquiz-bouton-rouge hvr-grow" type="button" name="button"><span class="miniQuizz-text-button">Réponse 1</span></button>
        </div>
        <div class="col-xs-4 animated fadeInDown">
            <button ng-click="faux1()" class=" quizz-btn-anim2 miniquiz-bouton miniquiz-bouton-vert hvr-grow" type="button" name="button"><span class="miniQuizz-text-button">Réponse 2</span></button>
        </div>
        <div class="col-xs-4 animated fadeInRight">
            <button ng-click="faux()" class=" quizz-btn-anim3 miniquiz-bouton miniquiz-bouton-blue hvr-grow" type="button" name="button"><span class="miniQuizz-text-button">Réponse 3</span></button>
        </div>

  </div>
</div>
