<div class="container">

  <div class="row text-center">
    <div class="col-xs-12">
      <button class="panneau-button" ng-audio="sound/games/bonpanneau/P14J23.mp3">conseil<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
</button>
    </div>
  </div>

  <div class="row panneau-row-consigne text-center">
    <div class="col-xs-12">
      <p class=" ubuntu-light panneau-consigne text-center">Sur tous les coffrets électrique, il y a un panneau qui signifie "danger électricité".<br />
      Parmis les panneaux dessinées ci-contre, lequel est-ce ?</p>
      <button class="panneau-button" ng-audio="sound/games/bonpanneau/bon.mp3">consigne<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
</button>

    </div>

  </div>

  <div id="panneau-svg" ui-view>

  </div>

</div>
