<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <p class="ubuntu panneau-intitule text-center">Des coffrets électrique, tu en as peut-être déjà vue ; ils ressemble à des petis placards et servent à couper
      l'électricité d'un batiments bâtiment en cas de besoin.
      Mais attention, seuls les agents Enedis peuvent les ouvrir. Si jamais tu en vois un entrouvert, ne touche à rien et préviens vite un adulte !</p>
    </div>
  </div>

  <div class="row panneau-row-consigne">
    <div class="col-xs-12">
      <p class=" ubuntu-light panneau-consigne text-center">Sur tous les coffrets électrique, il y a un panneau qui signifie "danger électricité".<br />
      Parmis les panneaux dessinées ci-contre, lequel est-ce ?</p>
    </div>

  </div>

  <div id="panneau-svg" ui-view>

  </div>

</div>
