<div class="container ">
    <div class="row">
        <div class="col-xs-8">
            <p>Attention, avant de percer un mur, il faut vérifier qu' aucun fil électrique n' est caché derrière...</br>
                Car, si la perceuse en touche un, ça peut être dangereux!
            </p>
        </div>
    </div>
    <div class="row">
        <h2>ATTENTION AU TROU !</h2>
        <div class="col-xs-5">
            <p>Léa et son papa veulent poser des étagères... ils doivent donc faire attention à l' endroit où ils percent le mur... Aide-les à trouver le bon en cliquant dessus!</p>
        </div>
    </div>
<div class="row">
<div class="col-xs-12">
  <img src="img/games/test/perceuse.svg" width="595" height="540" usemap="#holeclick" alt="">
  <map name="holeclick">
    <area shape="circle" coords="250,143,43" ng-click="badRep()"  alt="">
    <area shape="circle" coords="464,163,44" ng-click="goodRep()"  alt="">
    <area shape="circle" coords="286,307,45" ng-click="badRep()"  alt="">
    <area shape="circle" coords="252,423,45" ng-click="badRep()"  alt="">
  </map>
</div>
</div>
    </div>
