<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p>Sur ce dessin, deux pécheurs n'ont pas respecté les consignes de sécurité pour pêcher.</br>
      Lesquels?</p>
      <img rwdimgmap id="river" src="/img/games/tomber/pecheurs.svg" width="904" height="567" usemap="#holeclick" alt="">
      <map id="holeclick" name="holeclick">
        <area shape="circle" coords="215,135,43" ng-click="badRep()"  alt="">
        <area shape="circle" coords="395,149,44" ng-click="goodRep()"  alt="">
        <area shape="circle" coords="239,260,42" ng-click="badRep()"  alt="">
        <area shape="circle" coords="205,376,42" ng-click="badRep()"  alt="">
      </map>
    </div>

  </div>

</div>
