<div class="row text-center ">
      <img rwdimgmap id="river" src="/img/games/tomber/pecheurs.svg" width="904" height="567" usemap="#holeclick" alt="">
      <map id="holeclick" name="holeclick">
              <area shape="circle" coords="370,340,40" ng-click="badChoice()" alt="">
              <area shape="circle" coords="501,285,40" ng-click="badChoice()" alt="">
              <area shape="circle" coords="620,411,36" ng-click="goodChoice()" alt="">
              <area shape="circle" coords="737,300,42" ng-click="goodChoice()" alt="">
            </map>
      </button>
</div>
