<div>
  <div class="row text-center ">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <p>Sur ce dessin, deux pêcheurs n'ont pas respecté les consignes de sécurité pour pêcher.</br>
      Lesquels?</p>
      <button class="tomber-button"ng-audio="sound/games/tombepanneau/panneau.mp3">consigne<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
</button>

      <img rwdimgmap id="river" src="/img/games/tomber/pecheurs.svg" width="904" height="567" usemap="#holeclick" alt="">
      <map id="holeclick" name="holeclick">
              <area shape="circle" coords="370,340,40" ng-click="badChoice()" alt="">
              <area shape="circle" coords="501,285,40" ng-click="badChoice()" alt="">
              <area shape="circle" coords="620,411,36" ng-click="goodChoice()" alt="">
              <area shape="circle" coords="737,300,42" ng-click="goodChoice()" alt="">
            </map>
            <button class="tomber-button"ng-audio="sound/games/tombepanneau/savais.mp3">Le savais tu?<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
      </button>

    </div>

  </div>

</div>
