<div class="container">

  <div class="row">
    <div class="col-xs-12 text-center ubuntu consigne">
      <p>Le papa de Greg et Léa a fini de bricoler...<br />
       Laquelle de ces vignettes ne représente aucun risque électrique.<br />
      Sauras tu la trouver ?</p>
      <button class="chance-button" ng-audio="sound/games/chance/chance.mp3">consigne<span class="glyphicon glyphicon-play" aria-hidden="true"></span></i>
</button>
    </div>
  </div>

  <div class="row text-center uneSurTrois-vignette" >

    <div class="col-xs-4 hvr-grow uneSurTrois-bordure rallonge1" ng-click="faux()">
      <img src="img/games/uneSurTrois/14-rallonge1.svg" alt="" class="animated fadeInLeftBig">
    </div>

    <div class="col-xs-4 hvr-grow uneSurTrois-bordure rallonge2" ng-click="faux2()">
      <img src="img/games/uneSurTrois/14-rallonge3.svg" alt="" class="animated fadeInDownBig">
    </div>

    <div class="col-xs-4 hvr-grow uneSurTrois-bordure rallonge3" ng-click="vrai()">
      <img src="img/games/uneSurTrois/14-rallonge2.svg" alt="" class="animated fadeInRightBig">
    </div>

  </div>
</div>
