<div class="container">

  <div class="row">
    <div class="col-xs-12 text-center ubuntu consigne">
      <p>Le papa de Greg et Léa a fini de bricoler...<br />
       Laquel de ces vignette ne représente aucun risque électrique.<br />
      Sauras tu la trouver ?</p>
      <button ng-audio="sound/games/chance/chance.mp3">consigne<i class="fa fa-play" aria-hidden="true"></i>
</button>
    </div>
  </div>
  <div class="row text-center uneSurTrois-vignette" >
    <div class="col-xs-4 hvr-grow uneSurTrois-bordure" ng-click="vrai()">
      <p class="hvr-grow">TEXTE VIDE1</p>
    </div>
    <div class="col-xs-4 uneSurTrois-bordure" ng-click="faux()">
      <p>TEXTE VIDE</p>
    </div>
    <div class="col-xs-4 uneSurTrois-bordure" ng-click="faux()">
      <p>TEXTE VIDE</p>
    </div>
  </div>
</div>
