<div class="container">

  <div class="row">
    <div class="col-xs-12 text-center ubuntu consigne">
      <p>Le papa de Greg et Léa a fini de bricoler...<br />
       Laquel de ces vignette ne représente aucun risque électrique.<br />
      Sauras tu la trouver ?</p>
    </div>
  </div>

  <div class="row text-center uneSurTrois-vignette" >
    <div class="col-xs-4 uneSurTrois-bordure" ng-click="vrai()">
      <p>TEXTE VIDE</p>
    </div>
    <div class="col-xs-4 uneSurTrois-bordure" ng-click="faux()">
      <p>TEXTE VIDE</p>
    </div>
    <div class="col-xs-4 uneSurTrois-bordure" ng-click="faux()">
      <p>TEXTE VIDE</p>
    </div>
  </div>

</div>
