@import "font.less";

h2{
  margin-bottom: 25px;
  padding-left: 13px;
  color: #af6280;
  }
.attention-button{
  font-size: 20px;
  color: white;
  background-color: @green-greg;
  border-radius: 20px;
  padding: 10px;
  height: 60px;
}
.alert{
  padding-left: 0px;
}
.row{
  font-size: 20px;
}
.risk{
  color: #af6280;
}

.perceuse{
  width: 100%;
  height: 100%;
}
