.prise1{
  margin-right: -60px;
}
.boutonNul{
  height: 150px;
}
.prise3 {
  width: 50%;
  margin-left: 30%;
}
.atitude-ligne-1{
  margin-top: 5%;
}
.game .game-view.theme-attitude{
  background-color: rgba(50, 100, 255, 0.5);
}
