.charabia-divMot{
  position: relative;
  top: 250px;
}
.charabia-en-tete-complete{
  font-size: 20px;
  font-weight: bold;
}
.charabia-phrase-recomposer{
  font-weight: bold;
  font-size: 25px;
  color: red;
  margin-top: 4%;
}

.charabia-text-faute{
  position: absolute;
  font-size: 25px;;
    bottom: -614px;
  right: 39px;
  color: red;
}
.charabia-carte {
  margin: 0 2px;
  display: inline-block;
  width: 1.25em;
  height: 1.5em;
  font-size: 2em;
  border: 1px solid black;
  background-color: white;
  /*No Selection*/
  -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -o-user-select: none;
   user-select: none;
}
.charabia-red{
    margin: 0 2px;
    display: inline-block;
    width: 1.25em;
    height: 1.5em;
    font-size: 2em;
    border: 1px solid red;
    color: red;
}
.charabia-faute{
  position: absolute;
  top: 120px;
  right: 0;
  width: 300px;
  height: 200px;
}
.test{
  font-size: 35px;
}
/************************ANIMATION**************************************/
.charabia-animRotate
{
    -webkit-animation: rotationCustom 3s infinite;
}
/* ANIMATION DE ROTATION*/
@-webkit-keyframes rotationCustom {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*ANIMATION DE SHAKE GAUCHE DROITE*/
.charabia-animGaucheDroite
{
    -webkit-animation: gaucheDroiteCustom 5s infinite;
}
@-webkit-keyframes gaucheDroiteCustom {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(200px);
  }
  75% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}
/*ANIMATION DEPLACEMENT CARRé*/
.charabia-animDeplacement
{
  -webkit-animation: animDeplacement 5s infinite;
}
@-webkit-keyframes animDeplacement {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(200px);
  }
  40% {
    transform: translateY(-200px) translateX(200px);
  }
  60% {
    transform: translateX(-200px) translateY(-200px);
  }
  80% {
    transform: translateY(0px) translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}
