@import "font.less";

.coupable-marge{
  margin-top: 3%;
}
.coupable-consigne{
}
.poison{
margin-top: -3%;
}
.coupable-preambule{
  color: #F04822;
  font-size: 20px;
}
.coupable-consigne{
  color:#0474BD;
  font-size: 25px;
}
