@import "font.less";

.coupable-button{
  font-size: 20px;
  color: white;
  background-color: @green-greg;
  border-radius: 20px;
  padding: 10px;
  height: 60px;
}
.poison{
margin-top: -3%;
max-width: 100%;
max-height: 100%;
}
.coupable-consigne{
  color:#0474BD;
  font-size: 25px;
}

.third{
  display: inline-block;
  width: 30%;
  height: 100%;
}
.coupable-container{
  overflow: hidden;
}
.prise {
  height: 50%;
  width: 80%;
  margin: 0 auto;
  display: block;
}
.second-rang {
  text-align: center;
  height: 50%;
  width: 80%;
  margin: 0 auto;
}
.animal {
  width: 80%;
  margin: 0 auto;
}