@import "font.less";

.coupable-button{
  font-size: 20px;
  color: white;
  background-color: @green-greg;
  border-radius: 20px;
  padding: 10px;
  height: 60px;
}
.coupable-marge{
  margin-top: 3%;
}
.coupable-consigne{
}
.poison{
margin-top: -3%;
max-width: 100%;
max-height: 100%;
}
.coupable-consigne{
  color:#0474BD;
  font-size: 25px;
}

.max{
  max-width: 100%;
  max-height: 100%;
}
.coupable-container{
  overflow: hidden;
}
