.quiz-button{
  font-size: 20px;
  color: white;
  background-color: @green-greg;
  border-radius: 20px;
  padding: 10px;
  height: 60px;
}
.container{
  margin-top: 35px;
}
.miniquiz-question p{
  font-weight: bold;
  font-size: 25px;
  margin-top: 10%;
}
.miniquiz-reponse-rouge{
  font-weight: bold;
  color: red;
}
.miniquiz-reponse-vert{
  font-weight: bold;
  color: green;
}
.miniquiz-reponse-blue{
  font-weight: bold;
  color: blue;
}
.miniQuizz-text-button{
  font-size: 20px;
  color: white;
}
.miniquiz-bouton{
  width: 50%;
  height: 50px;
}
.miniquiz-bouton-rouge{
  background-color: red;
  border-radius: 20px;
}
.miniquiz-bouton-vert{
  background-color: green;
  border-radius: 20px;
}
.miniquiz-bouton-blue{
  background-color: blue;
  border-radius: 20px;
}
.miniquiz-ligne-reponse-rouge{
margin-top: 2%;
}
.miniquiz-solution{
  font-size: 23px;
}

.quizz-btn-anim1
{
  -webkit-animation: boutonUn 4s infinite;
  -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -o-user-select: none;
   user-select: none;
}
@-webkit-keyframes boutonUn {
  0% {
    transform: translateX(0px);
  }
  35% {
    transform: translateX(350px);
  }
  70% {
    transform: translateX(-450px) translateX(350px);
  }
  100% {
    transform: translateX(0px);
  }
}

.quizz-btn-anim2
{
  -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -o-user-select: none;
   user-select: none;
  -webkit-animation: boutonDeux 5s infinite;
}
@-webkit-keyframes boutonDeux {
  0% {
    transform: translateX(0px);
  }
  35% {
    transform: translateX(-350px);
  }
  70% {
    transform: translateX(250px) translateX(350px-);
  }
  100% {
    transform: translateX(0px);
  }
}

.quizz-btn-anim3
{
  -moz-user-select: -moz-none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -o-user-select: none;
   user-select: none;
  -webkit-animation: boutonTrois  3s infinite;
}
@-webkit-keyframes boutonTrois {
  0% {
    transform: translateX(0px);
  }
  35% {
    transform: translateX(-350px);
  }
  70% {
    transform: translateX(450px) translateX(-350px);
  }
  100% {
    transform: translateX(0px);
  }
}
