@import "font.less";

.chance-button{
  font-size: 20px;
  color: white;
  background-color: @green-greg;
  border-radius: 20px;
  padding: 10px;
  height: 60px;
}




.consigne{
  font-size: 20px;
}
.uneSurTrois-bordure{
  border : 3px solid #00ABE7;
}

.uneSurTrois-vignette{
  margin-top: 3%;
}
.rallonge1{
  transform: rotate(-2deg);
}
.rallonge2{
  transform: rotate(12deg);
}
.rallonge3{
  transform: rotate(-5deg);
}



// couleur bordure blue : #00ABE7
