<div id="attention-svg">

<img rwdimgmap id="perceuse" src="/img/games/attentiontrou/jeuperceuse.svg" width="575" height="523" usemap="#holeclick"
    alt="">
<map id="holeclick" name="holeclick">
    <area shape="circle" coords="215,135,43" ng-click="badRep()"  alt="">
    <area shape="circle" coords="395,149,44" ng-click="goodRep()"  alt="">
    <area shape="circle" coords="239,260,42" ng-click="badRep2()"  alt="">
    <area shape="circle" coords="205,376,42" ng-click="badRep3()"  alt="">
</map>
</div>
